@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100;400&family=Teko:wght@300&display=swap');

*{
    box-sizing: border-box;
}
#cog{

    text-align: right;
    color: #E3E3E3;
    
}
#fas{
    margin-left: 9px;
    width: 26px;
    height: 32px;
    color: #E3E3E3;

}

#stream{
    margin-left: 9px;
    width: 26px;
    height: 32px;
    color: #E3E3E3;
}

#trash{
    color: #E3E3E3;
    width: 26px;
    height: 32px;
    margin-left: 9px;
    margin-top: 850px;
    margin-bottom: 8px;
        
}

html, body {
    font-family: Roboto;
    height: 100%;
    margin: 0;
}

main{
    font-family: Roboto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    font-family: Roboto;
    padding:23px;
    background-color: #505050;
    color:#E3E3E3;
    display: grid;
    grid-template-areas: 'header header header';
    
}



#assign{
    
    text-align:center;
}

section{
    font-family: Roboto;
    display: flex;
    height: 100%;
}

#editor{
    font-family: Roboto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#editor p{
    font-family: roboto;
    font-style: normal;
    color: #E3E3E3;

}

aside{
    font-family: Roboto;
    width: 50px;
    background-color: #505050;

}



footer{
    font-family: Roboto;
    height: 25px;
    padding:10px;
    background-color: #0254A0;
}

nav{
    font-family: Roboto;
    background-color: #373737;
    display: flex;
    flex-direction: row;
}

nav a {
    font-family: Roboto;
    width: 173px;
    height: 34px;
    background-color: #161616;
    color: #C2C2C2;
    text-decoration: none;
    font-size: 12px;
}

#plane{
    width: 13px;
    height: 16px;
    color: #E3E3E3;
    align-self: flex-start;
    padding: 10px;
    font-size: 12px;
}
nav a:hover{
    color: #FFFFFF;

}

#times{
    
    width: 13px;
    height: 16px;
    color: #E3E3E3;
    align-self: flex-end;
    padding: 10px;
    font-size: 12px;
    float: right;
    
    
}

ul{
    list-style-type: none;
}

textarea{
    width: 100%;
    border-width: 0;
    resize: none;
    outline: none;
    height:100%;
    background-color: #060606;
    overflow-y: scroll;
    color: white;
}

p{
    font-family: Roboto;
    font-style: normal;
    background-color: #161616;
    margin: 0;
    color: #E3E3E3;
}

p a{
    color: #0058A9;
    text-decoration-line: underline;
}



.tray{
    font-family: Roboto;
    width: 200px;
    display: flex;
    justify-content: flex-start;
    overflow:hidden;
    
}

.tray, #inner-tray{
    font-family: Roboto;
    width: 200px;
    background-color: turquoise;
    transition: all .5s;
}

#inner-tray{
    font-family: Roboto;
    font-style: normal;
    background-color: #373737;
    color: #E3E3E3;
}

.closed{
    width: 0px;
    transition: all .5s;
}



footer p{
    font-family: Roboto;
    color: #FFFFFF;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    background-color: #0254A0;

}