@charset "UTF-8";

body{
    position: relative;
    width: 1200px;
    height: 756px;

    background: #FFFFFF;
}

#navbarNav{
    
    background-color: #F0F0F0;
    
    
    
}

.header{
    width:100%;
    background-color: #F0F0F0;
    color: #37AF19;
}

.header2{
    background-color: #F0F0F0;
    color: black;

}



footer{
    width:100%;
    background-color: #F0F0F0;
}