@charset "UTF-8";

.proj{
    color: #068003;
}

#navbarNav{
    
    background-color: #F0F0F0;
    font-size: 20px;
    
    
    
}

.header{
    width:100%;
    background-color: #F0F0F0;
    color: #37AF19;
}

.header2{
    background-color: #F0F0F0;
    color: black;

}
section{
    display: grid;
    grid-gap:20px;
    color:#F0F0F0;
    grid-template-areas: 
                         'img img img aside aside'
                         'joe h2 h2 aside aside';
                         
                        
                         
}

.joe{
    width: 200px;
    height: 270px;
    justify-content: left;
}

h2{
    color: #06B702;
}
.html{
    font-size: 18px;
}

.py{
    font-size: 18px;
}
.insta {
    width: 85px;
    height: 85px;
}

.fb {
    width: 80px;
    height: 80px;
}
.lake{
    font-size:32px;
}
.camp{
    font-size: 24px;
}

footer{
    width:100%;
    background-color: #F0F0F0;
}