@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100&family=Teko:wght@300&display=swap');

*{
    box-sizing: border-box;
}


html, body{
    margin: 0;
    height: 100%;
    font-family: 'Teko', 'sans-serif';
}
body{
    display: flex;
    justify-content: center;
    background-color: #333;
}
main{
    width: 1820px;
}
header{
    display: flex;
     
    height: 100px;
    background-color: #070707;
    width:100%;
    align-content: flex-end;
    padding: 0 41px 0 30px;
    color: #880908;
}
.bottom{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
h1{
    font-family: 'Teko';
    font-weight: normal;
    margin-bottom: 5px;
    font-style: regular;
    font-size: 48px;
    line-height: 69px;
    line-height: 100%;
    box-align: left;
    vertical-align: Top;
}
nav{
    width: 60px;
    height: 60px;
    top: 21px;
    
}
section{
    display: grid;
    grid-gap:20px;
    color:#FFFFFF;
    grid-template-areas: 
                         'banner banner banner banner aside'
                         't t r r aside';
                         
}
#banner{
    grid-area: banner;
    width: 1440px;
    height: 388px;
}
#banner img{
    grid-area: banner;
    width: 1440px;
    height:388px;
}
.t{
    display: flex;
    grid-area: t;
    box-align: left;
    width: 700px;
    height: 481px;
    border-top: 2px solid red;
    
}
.r{
    grid-area: r;
    border-top: 2px solid red;
    padding-left:24px;
    width: 700px;
    height: 481px; 
    box-align: right;
}
.rimg{
    margin-top: 19px;
    ;
    width: 641px;
    height: 229px;
}
#poster{
    padding-left:22px;
    grid-area: t;
    width: 310px;
    height: 478px;
    display: block;
    float: left;

}
.sign{
    grid-area: aside;
    width:325px;
    height: 254px;
    
}
aside{
    font-family: 'roboto';
    font-size: 18px;
    grid-area: aside;
    float: right;
    top:0;
    width:360px;
    height:918px;
}
aside p span{
    font-weight: 700;
    color:#FC0303;
}
h2{
    color: #FF1D29;
    font-family: 'Rock Salt';
    font-style: regular;
    font-size: 30px;
    line-height: 72px;
    line-height: 100%;
    box-align: Left;
    vertical-align: Top;
    margin-left:19px;
    border-bottom: 4px,#FF1D29;
}
.adimg{
    grid-area: t;
    width: 117px;
    height: 148px;
    
}
.t p{
    height:216px;
    width:349px;
    font-family: 'poppins';
    font-size: 18px;
    font-weight: 400px;
    font-style:normal;
    line-height:27px;
    margin-left:19px;
    
}
.r p{
    font-family: 'poppins';
    font-size: 18px;
    font-weight: 400px;
    font-style:normal;
    line-height:27px;
    
}
p{
    font-size: 18px;

}

#ad{
    display: flex;
    justify-content: space-evenly;
    
}
#ad-text{
    
    width:191px;
    height:157px;
    font-size: 18px;
    grid-area: t;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#ad-text a{
    width:191px;
    height:157px;
    font-size: 18px;
    font-family: 'poppins';
    font-weight: 400;
    font-style:normal;
    line-height:27px;

   
    
}
#price{
    
    font-family: 'teko';
    font-weight: 700;
    font-style: normal;
    font-size: 72px;
    line-height: 103.18px;


}



footer{
    display: flex;
    height: 100px;
    background-color: #070707;
    width:100%;
    align-content: flex-end;
    padding: 0 41px 0 30px;
    color:#FFFFFF;
    
}
