@charset "UTF-8";

*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    height: 100%;
    font-family: 'Teko', 'sans-serif';
}
body{
    display: flex;
    justify-content: center;
    background-color: #333;
}
main{
    width: 1820px;
}
header{
    height: 100px;
    background-color: #070707;
    display: flex;
    width:100%;
    align-items: flex-end;
    padding: 0 41px 0 30px;
    color: #880908;
}
h1{
    font-weight: normal;
    margin-bottom: 5px;
}
nav{
    font-size: 60px;
}
section{}
#banner{}
.1{}
.r{
    grid-area: r;
    border-top: 2px solid red;
    width: 700px
}
.r img{
    width: 641px;
}
#poster{
    width: 310px;
    display: block;

}
h2{}
#ad{}
#ad-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#price{}
